body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.event-thumb {
  max-width: 120px;
}

.event-item .event-title {
  margin-top: 0px;
}

.event-hero {
  max-height: 500px;
  overflow: hidden;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.login-form {
  margin: 0 auto;
  max-width: 300px;
  margin-bottom: 30px;
}

.login-title {
  text-align: center;
  margin-bottom: 25px;
}

.login-hint {
  margin-top: 10px;
  display: block;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
